.beyond-borders-slider {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    @include to(rem(483)) {
        overflow: initial;
        position: initial;
        top: initial;
        left: initial;
        z-index: initial;
    }

    &-container {
        max-width: rem(1288);
        width: 100%;
        margin: 0 auto;
        padding-right: rem(373);
        overflow: visible;

        @include laptop {
            max-width: rem(1088);
        }

        @include tablet {
            max-width: rem(1013);
        }

        @include mobile {
            max-width: rem(853);
        }

        @include mobile-sm {
            max-width: rem(839);
        }

        @include to(rem(483)) {
            max-width: initial;
            width: initial;
            overflow: initial;
            padding-right: initial;
            margin: initial;
        }
    }
}