.container {
    max-width: $breakpoint-laptop;
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(10);

    @include laptop {
        max-width: $breakpoint-tablet;
    }

    @include tablet {
        max-width: $breakpoint-mobile;
    }

    @include mobile {
        max-width: $breakpoint-mobile-sm;
    }

    @include mobile-sm {
        max-width: $breakpoint-mobile-xs;
    }
}