.header {
    padding: rem(8) 0;

    &__blocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(16) rem(24);
        background-color: var(--color-white);
        border-radius: rem(24);

        @include tablet {
            background-color: transparent;
        }
    }

    &__block {
        &--menu {
            @include tablet {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: var(--zindex-sidebar);
                width: rem(240);
                padding: rem(24) 0;
                background-color: rgba(255, 255, 255, 0.8);
                backdrop-filter: blur(10px);
                transition: var(--transition-sidebar);
            }

            &[data-sidebar-active="false"] {
                @include tablet {
                    transform: translateX(100%);
                    opacity: 0;
                    pointer-events: none;
                }

            }

            &[data-sidebar-active="true"] {
                @include tablet {
                    transform: translateX(0);
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

        &--hamburger {
            display: none;

            @include tablet {
                display: flex;
            }
        }
    }
}

.logo {
    color: var(--color-green);

    svg {
        width: rem(130);
        height: rem(36);
    }
}

.header__menu {
    &-list {
        display: flex;
        align-items: center;
        gap: rem(8);
        max-width: 100%;
        width: 100%;

        @include tablet {
            flex-direction: column;
            gap: initial;
        }

        &-item {
            @include tablet {
                width: 100%;
            }
        }
    }

    a {
        display: inline-flex;
        align-self: center;
        padding: rem(16);

        @include tablet {
            width: 100%;
        }
    }
}