.header {
    padding: rem(8) 0;
    // transition: var(--transition-1);

    // .container {
    //     transition: var(--transition-sidebar);
    // }

    &__blocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(16) rem(24);
        background-color: var(--color-white);
        border-radius: rem(24);
        // border-width: rem(1);
        // border-style: solid;
        // border-color: transparent;
        // transition: var(--transition-1);

        @include tablet {
            padding: rem(16) 0;
            background-color: transparent;
        }
    }

    &__block {
        &--menu {
            @include tablet {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: var(--zindex-sidebar);
                width: rem(240);
                padding: rem(24) 0;
                background-color: rgba(255, 255, 255, 0.8);
                backdrop-filter: blur(16px);
                transition: var(--transition-sidebar);
            }

            &[data-sidebar-active="false"] {
                @include tablet {
                    transform: translateX(100%);
                    opacity: 0;
                    pointer-events: none;
                }

            }

            &[data-sidebar-active="true"] {
                @include tablet {
                    transform: translateX(0);
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

        &--hamburger {
            display: none;

            @include tablet {
                display: flex;
            }
        }
    }
}

.logo {
    color: var(--color-green);

    svg {
        width: rem(130);
        height: rem(36);
    }
}

.header__menu {
    &-list {
        display: flex;
        align-items: center;
        gap: rem(8);
        max-width: 100%;
        width: 100%;

        @include tablet {
            flex-direction: column;
            gap: initial;
        }

        &-item {
            @include tablet {
                width: 100%;
            }
        }
    }

    a {
        display: inline-flex;
        align-self: center;

        @include tablet {
            width: 100%;
            padding: rem(16);
        }
    }
}

// [data-header-style="true"] {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 1000;

//     .container {
//         max-width: rem(1200);

//         @include laptop {
//             max-width: $breakpoint-tablet;
//         }

//         @include tablet {
//             max-width: $breakpoint-mobile;
//         }

//         @include mobile {
//             max-width: $breakpoint-mobile-sm;
//         }
//     }

//     .header__blocks {
//         background-color: rgba(255, 255, 255, 0.9);
//         box-shadow: 1px 10px 22px 9px rgba(0, 0, 0, 0.05);
//         backdrop-filter: blur(rem(50)) brightness(2.8) saturate(1.5);
//         border-color: rgba(0, 0, 0, 0.05);
//         padding: rem(16);
//     }
// }