.button {
    display: inline-flex;
    align-self: baseline;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    font-size: rem(16);
    font-weight: 500;
    line-height: 110%;
    color: var(--color-black);
    border-radius: rem(32);
    user-select: none;
    transition: var(--transition-1);

    &--sm {
        padding: rem(8) rem(16);
    }

    &--md {
        font-size: rem(18);
        font-weight: 700;
        line-height: 110%;
        padding: rem(16) rem(24);

        @include laptop {
            font-size: rem(16);
        }
    }

    &--xl {}


}