.button {
    display: inline-flex;
    align-self: baseline;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    font-size: rem(16);
    font-weight: 500;
    line-height: 110%;
    color: var(--color-black);
    transition: var(--transition-1);

    &--sm {
        padding: rem(8) rem(16);
        border-radius: rem(32);
    }

    &--md {}

    &--xl {}
}