<footer class="footer">
    <div class="container">
        <div class="footer__blocks">
            <div class="footer__block footer__block--menu">
                <ul class="footer-menu">
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">
                            О системе
                        </a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">
                            Архитектура
                        </a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">
                            Для своих
                        </a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">
                            Состав
                        </a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">
                            Отзывы
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__block footer__block--copyright">
                <div class="footer__copyright">
                    <p>
                        Коллаген © <sapn data-current-year="true"></sapn><br>
                    </p>
                    <p>
                        Политика обработки чего-то личного
                    </p>
                </div>
            </div>
            <div class="footer__block footer__block--logo">
                <a href="/" class="logo" aria-label="Логотип Rocont">
                    <svg>
                        <use href="img/sprites/icon.svg#logo"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>

@@include("app/scripts.html")