html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  // scrollbar-gutter: stable;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--font-family-tildasans-vf);
  font-size: rem(16);
  font-weight: 400;
  color: var(--color-black);
  background: var(--color-gray);
  overflow-x: hidden;

  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // min-height: 100dvh;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.03);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-sidebar);
  }
}

img,
video {
  display: flex;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button,
input,
label {
  font-family: var(--font-family-tildasans-vf);
  outline: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

button,
input,
label,
textarea {
  border: initial;
  outline: initial;
}

button {
  background-color: initial;
  cursor: pointer;
}

svg {
  display: flex;
}