html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  // scrollbar-gutter: stable;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--font-family-tildasans-vf);
  font-size: rem(16);
  font-weight: 400;
  color: var(--color-black);
  background: var(--color-gray);
  background-image: url('../img/pattern.png');
  background-image: image-set(url("../img/pattern.webp") type("image/webp"));
  background-size: rem(2209) rem(2123);
  background-position: center top 1400%;
  background-repeat: repeat;
  overflow-x: hidden;

  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // min-height: 100dvh;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-sidebar);
  }
}

img,
video {
  display: flex;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button,
input,
label {
  font-family: var(--font-family-tildasans-vf);
  outline: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

button,
input,
label,
textarea {
  border: initial;
  outline: initial;
}

button {
  background-color: initial;
  cursor: pointer;
}

svg {
  display: flex;
}

::selection,
::selection {
  background-color: rgba(#1F8B48, 0.4);
  color: var(--maxuiux-color-white);
}

::-moz-selection,
::-moz-selection {
  background-color: rgba(#1F8B48, 0.4);
  color: var(--maxuiux-color-white);
}

::-webkit-selection,
::-webkit-selection {
  background-color: rgba(#1F8B48, 0.4);
  color: var(--maxuiux-color-white);
}