.title {
    font-family: var(--font-family-gropled);
    font-size: rem(64);
    font-weight: 700;
    line-height: 90%;
    color: var(--color-black);

    @include laptop {
        font-size: rem(32);
        line-height: 100%;
    }

    @include tablet {
        br {
            display: none;
        }
    }
}

.subtitle {
    font-family: var(--font-family-gropled);
    font-size: rem(40);
    font-weight: 700;
    line-height: 95%;
    color: var(--color-black);
    text-wrap: pretty;
}

.text {
    font-size: rem(21);
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: var(--color-black);

    @include laptop {
        font-size: rem(18);
        line-height: 120%;
    }

    @include tablet {
        text-wrap: balance;

        br {
            display: none;
        }
    }
}