:root {
    --font-family-tildasans-vf: "TildaSans-VF", Helvetica, Arial, sans-serif;
    --font-family-gropled: "Gropled-Bold", Helvetica, Arial, sans-serif;

    --color-black: #2E2D2B;
    --color-white: #fff;
    --color-green: #1F8B48;
    --color-gray: #F6F6F6;


    --transition-1: .2s;
    --transition-sidebar: .2s cubic-bezier(0.77, 0, 0.175, 1);

    --zindex-dropdown: 1000;
    --zindex-sidebar: 1010;
    --zindex-sticky: 1020;
    --zindex-fixed: 1030;
    --zindex-modal: 1055;
    --zindex-popover: 1070;
    --zindex-tooltip: 1080;
}

$breakpoint-laptop: rem(1180);
$breakpoint-tablet: rem(980);
$breakpoint-mobile: rem(660);
$breakpoint-mobile-sm: rem(500);
$breakpoint-mobile-xs: rem(340);