<section class="header-info">
    <div class="container">
        <div class="header-info__wrap">
            <div class="header-info__blocks">
                <div class="header-info__block header-info__block--1">
                    @@include("shared/typography/title.html", {
                    "title":"Просто потому <br> что можем",
                    "class":"header-info__title",
                    })
                    @@include("shared/typography/text.html", {
                    "text":"Мы&nbsp;запустили основной цикл в&nbsp;06:42. <br> Результаты наблюдаются, но&nbsp;не&nbsp;зафиксированы. <br>Рекомендуем сохранять спокойствие до&nbsp;следующего сигнала.",
                    "class":"header-info__text",
                    })
                    @@include("shared/buttons/button-icon.html", {
                    "tag":"a",
                    "href":"href='#'",
                    "type":"",
                    "icon":"arrow-right",
                    "class":"button",
                    "size":"md",
                    "color":"green-icon",
                    "title":"Попробовать просто так",
                    "attribute":"",
                    })
                </div>
                <div class="header-info__block header-info__block--2">
                    <p class="header-info__detail">
                        Сертификат есть. Но это не точно.<br>
                        СГР №AM.01.01 .01.003.R.00 o47 4.06.24
                    </p>
                </div>
            </div>
            <video class="header-info-video" data-ios-video="ios-video" autoplay muted loop playsinline preload="auto"
                poster="img/header-info-image-01.jpg">
                <source src="img/header-info-video-01.webm" type="video/webm" />
                <source src="img/header-info-video-01.mp4" type="video/mp4" />
                <img src="img/header-info-image-01.jpg" alt="Видео не поддерживается">
                <track kind="captions">
            </video>
        </div>
    </div>
</section>