<section class="slider-stories">
    <div class="container">
        <div class="slider-stories__blocks">
            <div class="slider-stories__info">
                @@include("shared/typography/subtitle.html", {
                "subtitle":"Это&nbsp;&mdash; не совсем то, что вы думаете",
                "class":"",
                })
                <div class="slider-stories-buttons">
                    <div class="slider-stories-button" data-element="items-slider:prev">
                        <svg>
                            <use href="img/sprites/icon.svg#arrow-left"></use>
                        </svg>
                    </div>
                    <div class="slider-stories-button" data-element="items-slider:next">
                        <svg>
                            <use href="img/sprites/icon.svg#arrow-right"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="slider-stories__slider">
                <div class="beyond-borders-slider">
                    <div class="beyond-borders-slider-container" data-component="items-slider:slider-stories">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slider-stories-card">
                                    <picture>
                                        <source srcset="img/slider-stories-image-01.avif" type="image/avif">
                                        <source srcset="img/slider-stories-image-01.webp" type="image/webp">
                                        <img src="img/slider-stories-image-01.jpg" loading="lazy" alt="Первый слайд">
                                    </picture>
                                    <div class="slider-stories-card__wrap">
                                        <div class="slider-stories-card__info">
                                            <h3 class="slider-stories-card__title">
                                                Немного упругости
                                            </h3>
                                            <p class="slider-stories-card__text">
                                                Чуть-чуть сияния, и&nbsp;ощущение, что вы&nbsp;о&nbsp;себе позаботились
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-stories-card">
                                    <picture>
                                        <source srcset="img/slider-stories-image-02.avif" type="image/avif">
                                        <source srcset="img/slider-stories-image-02.webp" type="image/webp">
                                        <img src="img/slider-stories-image-02.jpg" loading="lazy" alt="Первый слайд">
                                    </picture>
                                    <div class="slider-stories-card__wrap">
                                        <div class="slider-stories-card__info">
                                            <h3 class="slider-stories-card__title">
                                                Немного упругости
                                            </h3>
                                            <p class="slider-stories-card__text">
                                                Чуть-чуть сияния, и&nbsp;ощущение, что вы&nbsp;о&nbsp;себе позаботились
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-stories-card">
                                    <picture>
                                        <source srcset="img/slider-stories-image-03.avif" type="image/avif">
                                        <source srcset="img/slider-stories-image-03.webp" type="image/webp">
                                        <img src="img/slider-stories-image-03.jpg" loading="lazy" alt="Первый слайд">
                                    </picture>
                                    <div class="slider-stories-card__wrap">
                                        <div class="slider-stories-card__info">
                                            <h3 class="slider-stories-card__title">
                                                Немного упругости
                                            </h3>
                                            <p class="slider-stories-card__text">
                                                Чуть-чуть сияния, и&nbsp;ощущение, что вы&nbsp;о&nbsp;себе позаботились
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-stories-card">
                                    <picture>
                                        <source srcset="img/slider-stories-image-04.avif" type="image/avif">
                                        <source srcset="img/slider-stories-image-04.webp" type="image/webp">
                                        <img src="img/slider-stories-image-04.jpg" loading="lazy" alt="Первый слайд">
                                    </picture>
                                    <div class="slider-stories-card__wrap">
                                        <div class="slider-stories-card__info">
                                            <h3 class="slider-stories-card__title">
                                                Немного упругости
                                            </h3>
                                            <p class="slider-stories-card__text">
                                                Чуть-чуть сияния, и&nbsp;ощущение, что вы&nbsp;о&nbsp;себе позаботились
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-stories-card">
                                    <picture>
                                        <source srcset="img/slider-stories-image-05.avif" type="image/avif">
                                        <source srcset="img/slider-stories-image-05.webp" type="image/webp">
                                        <img src="img/slider-stories-image-05.jpg" loading="lazy" alt="Первый слайд">
                                    </picture>
                                    <div class="slider-stories-card__wrap">
                                        <div class="slider-stories-card__info">
                                            <h3 class="slider-stories-card__title">
                                                Немного упругости
                                            </h3>
                                            <p class="slider-stories-card__text">
                                                Чуть-чуть сияния, и&nbsp;ощущение, что вы&nbsp;о&nbsp;себе позаботились
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>